@font-face {font-family: Atari; src: url("../assets/PressStart2P.ttf")}

#editArea, #codeOutput {padding: 10px}

#editArea, .sortable {
	list-style-type: none;
	font-size: 18px;
}

#editArea * {clear: both}

.mdc-top-app-bar, .mdc-drawer, .mdc-dialog {user-select: none}

.mdc-top-app-bar--fixed-adjust {height: 100vh}

.list {min-height: 44.5px}

.codeide-logo {font-family: Atari}

.code {display: none}

/* BLOCKS COLOR HIGHLIGHT (MONOKAI)
#272822 - BLACK
#F92672 - RED
#66D9EF - BLUE
#A6E22E - GREEN
#FD971F - YELLOW
-----------------------------*/

.cmd_alert {
	background-color: #66D9EF;
}

.cmd_if, .cmd_else, .cmd_for {
	background-color: #A6E22E;
}

/* ########## */

body.dragging, body.dragging * {cursor: move !important}

.dragged {
	opacity: 0.5;
	overflow: hidden;
}

ul.list {
	padding-left: 0;
	margin: 0 0 9px 0;
	min-height: 10px;
}

ul.list li {
	color: white;
	display: block;
	margin: 5px 0;
	padding: 5px;
	user-select: none;
	box-sizing: content-box;
}

ul.list li.placeholder {
	position: relative;
	margin: 0;
	padding: 0;
	border-color: red;
	border-style: dotted;
	z-index: 2000;
}

ul.list li.placeholder:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-top: -8px;
	left: -8px;
	top: -1px;
	border: 8px solid transparent;
	border-left-color: red;
	border-right: none;
	z-index: 2000;
}