@font-face {font-family: Atari; src: url("PressStart2P.ttf")}

#editArea, .sortable {
	list-style-type: none;
	font-size: 18px;
}

.list {min-height: 44.5px}

.codeide-logo {font-family: Atari}

.code {
	display: none;
	white-space: normal;
}